* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #eee;
    --black: #141414;
    --color: #3333ff;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    scroll-snap-type: y proximity;
}

.section1, .section2, .section3 {
    position: relative;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transform-style: preserve-3d;
    scroll-snap-align: start;
}

.section1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/bg.svg') no-repeat center center / contain;
    transform: translateZ(-1px) scale(2.2);
    filter: blur(2px);
    z-index: -1;
    -webkit-transform: translateZ(-1px) scale(2.2);
    -moz-transform: translateZ(-1px) scale(2.2);
    -ms-transform: translateZ(-1px) scale(2.2);
    -o-transform: translateZ(-1px) scale(2.2);
}

.section1::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('img/bg2.svg') top center / cover no-repeat;
}

.section2, .section3 {
    background-color: #e0e0e0;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 1;
    position: relative;
    padding: 20px;
    transform: translateZ(-0.2px) scale(1.2, 1.3);
    -webkit-transform: translateZ(-0.2px) scale(1.2, 1.3);
    -moz-transform: translateZ(-0.2px) scale(1.2, 1.3);
    -ms-transform: translateZ(-0.2px) scale(1.2, 1.3);
    -o-transform: translateZ(-0.2px) scale(1.2, 1.3);
}

h1 {
    font-size: 3rem;
    line-height: 1.4;
}

.bg-img {
    width: clamp(200px, 35vw, 600px);
    height: clamp(200px, 35vw, 600px);
    border-radius: 46% 54% 47% 53% / 64% 20% 80% 36%;
    background-color: rgba(10, 6, 43, 0.8);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img img {
    width: 100%;
    height: 100%;
}

.gradient_text {
    background: linear-gradient(151deg, rgba(14, 11, 77, 1) 0%, rgba(27, 27, 179, 1) 47%, rgba(0, 212, 255, 1) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/* Section 2 */

.about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 0 60px;
}

.about-me-left, .about-me-right {
    display: flex;
    padding: 40px;
    border-radius: 54px;
    background: #e0e0e0;
    box-shadow: inset 28px 28px 45px #c5c5c5,
        inset -28px -28px 45px #fbfbfb;
    height: 90vh;
}

.profile-pic-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.profile-pic-section2 img {
    margin: 0 auto;
    width: clamp(180px, 10vw, 600px);
    height: clamp(180px, 10vw, 600px);
    border-radius: 20px;
    object-fit: cover;
    background-color: rgba(10, 6, 43, 0.8);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-pic-section2 hr {
    border-top: 2px dotted hsl(0, 1%, 33%);
    width: 100%;
}


.socials {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.socials a {
    transition: all 0.3s ease-in-out;
    background-color: #91a3b0;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Instagram hover effect */
.instagram:hover {
    animation: insta-pop 0.8s forwards;
}

@keyframes insta-pop {
    0% {
        background-color: #fcb045;
        color: white;
    }

    50% {
        background-color: #fd1d1d;
        color: black;
    }

    100% {
        background-color: #833ab4;
        color: white;
    }
}

.linkedin:hover {
    animation: linkedin-pop 0.8s forwards;
}

@keyframes linkedin-pop {
    0% {
        background-color: hsl(211, 95%, 78%);
        color: white;
    }

    50% {
        background-color: #0077b5;
        color: black;
    }

    100% {
        background-color: #0a66c2;
        color: white;
    }
}

.button-3d {
    display: inline-block;
    position: relative;
    border: 0;
    background: #c5c5c5;
    padding: 1.25em 1.5em;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transform-style: preserve-3d;
    transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1),
        background 0.3s cubic-bezier(0, 0, 0.58, 1);
    cursor: pointer;
}

.button-3d:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c5c5c5;
    border-radius: inherit;
    transform: translate3d(0, 0.5em, -1em);
    transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.button-3d:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    filter: blur(4px);
    border-radius: inherit;
    top: 0;
    left: 0;
    transform: translate3d(0, .7em, -1em);
    transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.button-3d:hover {
    transform: translateY(-0.25em);
}

.button-3d:hover:before {
    transform: translate3d(0, 0.75em, -1em);
}

.button-3d:hover:after {
    transform: translate3d(0, 1.05em, -1em);
}

.button-3d:active {
    transform: translate(0, 0.5em);
}

.button-3d:active:before,
.button-3d:active:after {
    transform: translate3d(0, 0, -1em);
}

/* Section 3 */
.lastest-work {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 60px;
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
    padding: 5vh 4vw 0;
}

.lastest-work h3 {
    font-size: 2rem;
    color: hsl(241, 54%, 55%);
    margin-bottom: 20px;
}

.websites {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.websites a:first-child {
    border-top: 2px solid hsl(0, 0%, 61%);
    border-bottom: 2px solid hsl(0, 0%, 61%);
}

.websites a:not(:first-child) {
    border-bottom: 2px solid hsl(0, 0%, 61%);
}

.websites a {
    padding: 20px 10px;
    font-size: 1.5rem;
}

.websites a {
    color: #000000;
    padding: 20px 10px;
    font-size: 1.5rem;
    transition: background-color 0.3s ease-in-out;
}

.websites a:hover {
    background-color: hsl(0, 0%, 21%);
    color: #ffffff;
}
